html, body {
   height: 100%;
   margin: 0px;  
   font-family: Arial;   
   color: rgb(11,65,145);   
}
    
.container {
    height: 100%;
    width: 100%;
    display: flex;       
}

.indexContent {
    overflow-y: auto;    
}

.index {
    max-width: 600px; 
    min-width: 100px;     
    width: 400px;
    background-color: rgba(210, 222, 241); /* light grey */    
    height: 100%;    
    overflow-x: hidden;
    overflow-y: hidden;
    resize: horizontal;    
}

.indexAnchor {
    color: rgb(11,65,145);
    margin-left: 30px;      
}

.content
{
    min-width:200px;
    flex:3;
    overflow: auto;  
}

h2
{
    font-weight: 100;
    color: rgb(197,20,42); /* RED */    
}

h3
{
    font-weight: 100;
    background-color: rgb(11,65,145); /* BLUE */
    color: rgb(255,255,255);
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 10px 0px
}

.h3Index
{
    font-weight: 100;
    background-color: rgb(11,65,145); /* BLUE */
    color: rgb(255,255,255);
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 10px 0px
}

.h3Content
{
    font-weight: 100;
    color: rgb(11,65,145); /* BLUE */
    background-color: rgba(210, 222, 241); /* light grey */        
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 10px 0px;

}

.contentBody
{
    margin: auto;
    padding: 70px 0;
    text-align: center;
    margin-left:15px;
    margin-right:15px;    
}

h4
{
    font-weight: bold;
    color: rgb(11,65,145); /* BLUE */ 
    padding:  5px 5px 5px 0px;
    text-align: left;
}


.currentTask
{
    font-weight: bold;
    color: rgb(197,20,42); /* RED */  
    text-align: left;
      
}

/* 
Use to style timer tables
*/

table {
    margin-left:15px;
  }


/* 
Use to style the loader spinner:
*/
.loader {

    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top:  16px solid rgba(210, 222, 241); /* light grey */        

    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }